# Week 4 - Working with Data

Week 4 Peer Review - Working with Distributions and DataFrames.

In [1]:
using Distributions, DataFrames, Random

In [2]:
id = Array(1:30);
Var1 = randn(30);
Var2 = rand(Normal(10,2),30);
Var3 = rand(5:15,30);
df1 = DataFrame(ID = id,var1 = Var1,var2 = Var2,var3 = Var3);
first(df1,5)

5×4 DataFrame
│ Row │ ID    │ var1      │ var2    │ var3  │
│     │ Int64 │ Float64   │ Float64 │ Int64 │
├─────┼───────┼───────────┼─────────┼───────┤
│ 1   │ 1     │ 0.338147  │ 8.33747 │ 12    │
│ 2   │ 2     │ 0.915736  │ 8.78008 │ 14    │
│ 3   │ 3     │ -1.35485  │ 6.33195 │ 6     │
│ 4   │ 4     │ -0.712413 │ 9.67627 │ 11    │
│ 5   │ 5     │ 0.690592  │ 10.4569 │ 15    │

In [3]:
describe(df1)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min      │ median   │ max     │ nunique │
│     │ Symbol   │ Float64  │ Real     │ Float64  │ Real    │ Nothing │
├─────┼──────────┼──────────┼──────────┼──────────┼─────────┼─────────┤
│ 1   │ ID       │ 15.5     │ 1        │ 15.5     │ 30      │         │
│ 2   │ var1     │ 0.369406 │ -1.35485 │ 0.225898 │ 2.45927 │         │
│ 3   │ var2     │ 9.89851  │ 6.33195  │ 9.5714   │ 15.3944 │         │
│ 4   │ var3     │ 10.4     │ 5        │ 11.0     │ 15      │         │

In [4]:
for i=1:3
    println("The mean of var",i," is ",mean(df1[!,i+1]))
    println("The standrard deviation of var",i," is ",std(df1[!,i+1]))
    println()
end

The mean of var1 is 0.3694055861642488
The standrard deviation of var1 is 0.7881690712765165

The mean of var2 is 9.898508038386533
The standrard deviation of var2 is 1.8483515811474442

The mean of var3 is 10.4
The standrard deviation of var3 is 3.440128305546276

In [5]:
df2 = last(df1,20)

20×4 DataFrame
│ Row │ ID    │ var1       │ var2    │ var3  │
│     │ Int64 │ Float64    │ Float64 │ Int64 │
├─────┼───────┼────────────┼─────────┼───────┤
│ 1   │ 11    │ 1.38717    │ 9.04992 │ 11    │
│ 2   │ 12    │ -0.231555  │ 9.70776 │ 14    │
│ 3   │ 13    │ 0.0942004  │ 9.08286 │ 5     │
│ 4   │ 14    │ 0.676793   │ 8.86467 │ 14    │
│ 5   │ 15    │ 0.615586   │ 12.3469 │ 8     │
│ 6   │ 16    │ 0.271048   │ 15.3944 │ 9     │
│ 7   │ 17    │ 0.180748   │ 12.5079 │ 15    │
│ 8   │ 18    │ 1.60518    │ 7.75417 │ 7     │
│ 9   │ 19    │ -0.0801124 │ 9.68233 │ 5     │
│ 10  │ 20    │ 0.670769   │ 8.22616 │ 15    │
│ 11  │ 21    │ 1.60681    │ 9.03656 │ 11    │
│ 12  │ 22    │ 1.11726    │ 8.44699 │ 8     │
│ 13  │ 23    │ -0.246592  │ 11.0566 │ 11    │
│ 14  │ 24    │ -0.76704   │ 10.9697 │ 6     │
│ 15  │ 25    │ -0.33499   │ 11.5235 │ 14    │
│ 16  │ 26    │ 0.973673   │ 12.3263 │ 12    │
│ 17  │ 27    │ 0.123517   │ 9.33213 │ 10    │
│ 18  │ 28    │ 0.0944221  │ 7.79305 │ 8     │
│ 19  │ 29    │ 0.0496252  │ 8.96597 │ 11    │
│ 20  │ 30    │ -0.307204  │ 12.2332 │ 14    │

In [6]:
describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min      │ median   │ max     │ nunique │
│     │ Symbol   │ Float64  │ Real     │ Float64  │ Real    │ Nothing │
├─────┼──────────┼──────────┼──────────┼──────────┼─────────┼─────────┤
│ 1   │ ID       │ 20.5     │ 11       │ 20.5     │ 30      │         │
│ 2   │ var1     │ 0.374965 │ -0.76704 │ 0.152132 │ 1.60681 │         │
│ 3   │ var2     │ 10.2151  │ 7.75417  │ 9.50723  │ 15.3944 │         │
│ 4   │ var3     │ 10.4     │ 5        │ 11.0     │ 15      │         │

In [7]:
df2[!,:cat1] = rand(["GroupA","GroupB"],20);
first(df2,5)

5×5 DataFrame
│ Row │ ID    │ var1      │ var2    │ var3  │ cat1   │
│     │ Int64 │ Float64   │ Float64 │ Int64 │ String │
├─────┼───────┼───────────┼─────────┼───────┼────────┤
│ 1   │ 11    │ 1.38717   │ 9.04992 │ 11    │ GroupB │
│ 2   │ 12    │ -0.231555 │ 9.70776 │ 14    │ GroupA │
│ 3   │ 13    │ 0.0942004 │ 9.08286 │ 5     │ GroupB │
│ 4   │ 14    │ 0.676793  │ 8.86467 │ 14    │ GroupA │
│ 5   │ 15    │ 0.615586  │ 12.3469 │ 8     │ GroupB │

In [8]:
df3 = DataFrame(ID = Array(11:30), var4 = Array(21:40), var5 = Array(41:60));
first(df3,5)

5×3 DataFrame
│ Row │ ID    │ var4  │ var5  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 11    │ 21    │ 41    │
│ 2   │ 12    │ 22    │ 42    │
│ 3   │ 13    │ 23    │ 43    │
│ 4   │ 14    │ 24    │ 44    │
│ 5   │ 15    │ 25    │ 45    │

In [9]:
df4 = join(df2,df3,on = :ID);
first(df4,6)

┌ Warning: inner joining data frames using join is deprecated, use `innerjoin(df1, df2, on=ID, makeunique=false, validate=(false, false))` instead
│   caller = ip:0x0
└ @ Core :-1

6×7 DataFrame
│ Row │ ID    │ var1      │ var2    │ var3  │ cat1   │ var4  │ var5  │
│     │ Int64 │ Float64   │ Float64 │ Int64 │ String │ Int64 │ Int64 │
├─────┼───────┼───────────┼─────────┼───────┼────────┼───────┼───────┤
│ 1   │ 11    │ 1.38717   │ 9.04992 │ 11    │ GroupB │ 21    │ 41    │
│ 2   │ 12    │ -0.231555 │ 9.70776 │ 14    │ GroupA │ 22    │ 42    │
│ 3   │ 13    │ 0.0942004 │ 9.08286 │ 5     │ GroupB │ 23    │ 43    │
│ 4   │ 14    │ 0.676793  │ 8.86467 │ 14    │ GroupA │ 24    │ 44    │
│ 5   │ 15    │ 0.615586  │ 12.3469 │ 8     │ GroupB │ 25    │ 45    │
│ 6   │ 16    │ 0.271048  │ 15.3944 │ 9     │ GroupB │ 26    │ 46    │